<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Account</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>List Account</h1>
        <table style="margin-left: auto; margin-right: auto" width="70%" border="1">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Image</th>
                    <th>Full name</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item: ${accounts}">
                    <td th:text="${item.id}">1</td>
                    <td th:text="${item.username}">1</td>
           
                    <td th:text="${item.fullname}">1</td>
                    
                </tr>
            </tbody>
        </table>
    </body>
</html>