<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h4><a th:href="@{/user/create}">Create Account</a></h4>
        <h1>List Account</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Fullname</th>
                    <th>Image</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item: ${users}">
                    <td th:text="${item.id}"></td>
                    <td th:text="${item.username}"></td>
                    <td th:text="${item.fullname}"></td>
                    <td><img th:if="${item.image!=null && item.image != ''}" 
                             th:src="${'images/' +item.image}" th:alt="${item.image}" width="100px" height="60px"/> </td>
                    <td></td>
                </tr>
            </tbody>
        </table>

    </body>
</html>
